<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>

    <header>
        <nav>
            <div class="logo">
                <img src="/static/images/logo.png" alt="Logo">
            </div>
            <ul>
                <li><a href="/templates/usage.html" >Explore</a></li>
                <li><a href="/templates/about.html">About</a></li>
            </ul>
        </nav>
    </header>

    <section class="hero">
        <div class="hero-content">
            <h1 class="main-head">QuantxAI</h1>
            <p class="subheading">Fortifying Data with Quantum Protection & ML Detection.</p>
            <p class="description">
                QuantxAI is the future of secure data sharing and intelligent threat detection. Powered by Quantum Cryptography and ML-driven security, 
                it ensures unbreakable protection while identifying cyber threats in real time. 
                Stay ahead of attackers with cutting-edge technology that keeps your data safe and secure.
            </p>
            <a href="/templates/usage.html" class="btn">Get started</a>
        </div>
    </section>

</body>
</html>
